doctype html
html
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title Ваш сайт
  body
    header
      h1 Личная страница (блог) Переуда Дмитрий Алексеевич
      nav
        ul
          li
            a(href='photo.html') Photo
          li
            a(href='index.html') Главная страница
          li
            a(href='rozklad.html') Rozklad
          li
            a(href='news.html') News
    section
      h1 Статті на сайті
      article
        header
          a(href='http://reading.com.ua/wp-content/uploads/2019/11/kot-i-novogodnyaya-elka-smeshnye-foto-15-850x566.jpg' target='_blank')
            img(src='http://reading.com.ua/wp-content/uploads/2019/11/kot-i-novogodnyaya-elka-smeshnye-foto-15-850x566.jpg' style='width:400px;max-width:400px;')
          figcaption Кот(850x566)
          p
            | Опубликовано
            time(datetime='2014-01-30T16:31:24+03:00') 30.01.2014
          a(href='http://reading.com.ua/wp-content/uploads/2019/11/kot-i-novogodnyaya-elka-smeshnye-foto-57-850x566.jpg' target='_blank')
            img(src='http://reading.com.ua/wp-content/uploads/2019/11/kot-i-novogodnyaya-elka-smeshnye-foto-57-850x566.jpg' style='width:400px;max-width:400px;')
          figcaption Кот(850x566)
          p
            | Опубликовано
            time(datetime='2014-01-30T16:31:24+03:00') 30.01.2014
          a(href='http://reading.com.ua/wp-content/uploads/2019/09/fotopodborka-leta-10-850x566.jpg' target='_blank')
            img(src='http://reading.com.ua/wp-content/uploads/2019/09/fotopodborka-leta-10-850x566.jpg' style='width:400px;max-width:400px;')
          figcaption Кот(850x566)
          p
            | Опубликовано
            time(datetime='2014-01-30T16:31:24+03:00') 30.01.2014
          a(href='http://reading.com.ua/wp-content/uploads/2019/11/kot-i-novogodnyaya-elka-smeshnye-foto-16-850x566.jpg' target='_blank')
            img(src='http://reading.com.ua/wp-content/uploads/2019/11/kot-i-novogodnyaya-elka-smeshnye-foto-16-850x566.jpg' style='width:400px;max-width:400px;')
          figcaption Кот(850x566)
          p
            | Опубликовано
            time(datetime='2014-01-30T16:31:24+03:00') 30.01.2014
          a(href='https://static.jsprav.ru/media/uploads/2020/03/26/thumb/f78c60ea1844bb5019b2_900x600crop_thumb-850x566.jpg' target='_blank')
            img(src='https://static.jsprav.ru/media/uploads/2020/03/26/thumb/f78c60ea1844bb5019b2_900x600crop_thumb-850x566.jpg' style='width:400px;max-width:400px;')
          figcaption Кот(850x566)
          p
            | Опубликовано
            time(datetime='2014-01-30T16:31:24+03:00') 30.01.2014
          a(href='http://reading.com.ua/wp-content/uploads/2019/08/mudrost-dnya-na-kazhdyj-den-17-850x566.jpg' target='_blank')
            img(src='http://reading.com.ua/wp-content/uploads/2019/08/mudrost-dnya-na-kazhdyj-den-17-850x566.jpg' style='width:400px;max-width:400px;')
          figcaption Кот(850x566)
          p
            | Опубликовано
            time(datetime='2014-01-30T16:31:24+03:00') 30.01.2014
          a(href='https://images.kinorium.com/movie/shot/470473/w1500_557370.jpg' target='_blank')
            img(src='https://images.kinorium.com/movie/shot/470473/w1500_557370.jpg' style='width:400px;max-width:400px;')
          figcaption Слон(850x566)
          p
            | Опубликовано
            time(datetime='2014-01-30T16:31:24+03:00') 30.01.2014
          a(href='https://avatarko.ru/img/kartinka/21/zhivotnye_kot_lampochka_20490.jpg' target='_blank')
            img(src='https://avatarko.ru/img/kartinka/21/zhivotnye_kot_lampochka_20490.jpg' style='width:400px;max-width:400px;')
          figcaption Кот(850x566)
          p
            | Опубликовано
            time(datetime='2014-01-30T16:31:24+03:00') 30.01.2014
    aside
      h2 Об авторе
    footer
      p Copyright 2014 Ваш сайт
