doctype html
html
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title Ваш сайт
  body
    header
      h1 Личная страница (блог) Переуда Дмитрий Алексеевич
      nav
        ul
          li
            a(href='photo.html') Photo
          li
            a(href='index.html') Главная страница
          li
            a(href='rozklad.html') Rozklad
          li
            a(href='news.html') News
    section
      h1 Расписание
      p(align='CENTER')
        font(color='RED' size='6' face='ARIAL')
          b Расписание
        br
      table(border='1' width='100%' bgcolor='#99CCCC')
        tbody
          tr(bgcolor='#CCCCFF' align='CENTER')
            td Время
            td  "Понедельник"
            td  "Вторник"
            td  "Среда"
            td  "Четверг"
            td  "Пятница"
          tr
            td 09:35
            td
            td
            td
            td
            td
          tr
            td 11:25
            td
            td
            td Практикум з програмування
            td Основи програмної інженерії
            td
          tr
            td 12:55
            td Основи програмної інженерії
            td
            td Практикум з програмування
            td Основи автоматичного проектування сладних предметів
            td Основи автоматизованого проектування сладних обьектів
          tr
            td 14:30
            td Числені методи в інформатиці
            td Англійська мова
            td
            td Чисельні методи в інформатиці
            td Frond-end технології
          tr
            td 15:50
            td
            td Frond-end технології
            td
            td
            td
    footer
      p Copyright 2014 Ваш сайт
